*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  width: fit-content;
  height: 100px;
  background-color: rgb(167, 206, 234);
}
.test {
  width: 30px;
  background-color: rgb(202, 166, 47);
}