* {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
}
.container {
  width: inherit;
  height: inherit;
}
.clock-body {
  --size: 20em;
  position: relative;
  width: var(--size);
  height: var(--size) ;
  border-radius: 50%;
  background-color: #1a1a1a;
}
.text-container {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.clock-hand {
  left: 50%;
  position: absolute;
  width: 2px;
  height: calc(var(--size)/10);
  background-color: #fff;
  transform-origin: bottom;
}
.second-hand {
  height: calc(var(--size)/2);
}
.min-hand {
  height: calc(var(--size)/3.5);
  top: calc(50% - calc(var(--size)/3.5));
}
.hour-hand {
  height: calc(var(--size)/6);
  top: calc(50% - calc(var(--size)/6));
}
.clock-text {
  position: absolute;
  width: 2px;
  height: 5px;
  left: 50%;
  border: none;
  border-top: 12px solid rgb(172, 172, 172);
  transform-origin: 0em 10em;
}
.sec-text {
  border-top: 5px solid rgb(172, 172, 172);
}