* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.table-wrapper {
  margin: 1.2em;
  overflow: scroll;
  max-height: 80vh;
  width: auto;
  position: relative;
}
section {
  position: absolute;
  /* margin-top: 20px; */
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 1000px;
}
thead {
  position: sticky;
  background-color: #3b3939;
  color: #fff;
  z-index: 1;
}
tbody {
  position: relative;
}
tbody > tr {
  position: relative;
  border: 1px solid black;
}
tbody > td {
  position: absolute;
}
td, th{
  width: 200px;
}
.select-box {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 255, 255, .2);
}
.table-header {
  position: fixed;
}
.is-odd-row {
  background-color: #e3eaf2;
}
.is-even-row {
  background-color: #ffffff;
}
