* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
main {
  margin: 1.3em;
}
.top-tool-bar {
  margin: 1em 0;
}
table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid black;
}
tr {
  width: 100%;
  display: flex;
  vertical-align: inherit;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  background-color: #3b3939;
  color: #fff;
}
tbody {
  width: 100%;
  display: block;
  position: relative;
  contain: size layout;
  overflow: auto;
  height: 600px;
}
tbody > tr {
  border-bottom: 1px solid black;
}
td, th {
  width: 100%;
  display: flex;
  overflow: hidden;
  overflow-wrap: unset;
  text-overflow: ellipsis;
}
