html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: inherit;
  font-display: swap;
}

main {
  height: 100vh;
  background-color: rgb(133, 137, 231);
  display: grid;
  place-items: center;
}

.container {
  width: 700px;
  height: 700px;
  background-color: #fff;
  display: inherit;
  place-items: inherit;
}

.test {
  width: 100px;
  min-height: 100px;
  background-color: rgb(134, 242, 45);
}

.img-display {
  /* width: 2000px; */
  max-width: 600px;
  overflow: auto;
  display: flex;
  background-color: rgb(255, 213, 24);
  justify-content: center;
  align-items: center;
}
.img {
  width: 600px;
  position: absolute;
  transition: 2s;
}
.img-fade {
  opacity: 0;
}

