* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
}
.title {
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.cell {
  flex: 10% 1 0;
  height: 30px;
  background-color: #e7e7e7;
  border: 1px solid rgb(49, 49, 49);
}
.cell:hover {
  cursor: pointer;
  background-color: #acacac;
}
/* .pressed {
  background-color: #9554c7;
} */
.cell + .pressed {
  cursor: auto;
  background-color: #b8b7b7;
}
.mine {
  background-color: #ef0909;
}