.title {
  display: flex;
  align-items: center;
}

body {
  position: relative;
  background-color: #000000;
  color: #ffffff;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
}

#grid {
  pointer-events: none;
}
