html {
  box-sizing: border-box;
  height: 100%;
  --primary-color: #821fe5;
  --main-color: #821fe5;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: inherit;
  font-display: swap;
  color: var(--main-color);
}
